name: Build

on:
  push:
  pull_request:
  schedule:
    - cron: 0 0 * * *

jobs:
  plugin_test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v1
        with:
          command: cue version

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup asdf
        uses: asdf-vm/actions/setup@v1

      - name: Install bats-core
        run: brew install --build-from-source bats-core

      - name: Test plugin
        run: |
          asdf plugin-add cue $GITHUB_WORKSPACE
          make test
        env:
          GITHUB_API_TOKEN: ${{ github.token }}
