name: Main workflow

on:
  push:
  pull_request:
  schedule:
    - cron: 0 0 * * 5

jobs:
  plugin_test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v2
        with:
          command: cue version
          version: 0.5.0-rc.1

  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
    
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup asdf
        uses: asdf-vm/actions/setup@v2

      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Install bats-core
        run: brew install bats-core

      - name: Test plugin
        run: |
          asdf plugin-add cue $GITHUB_WORKSPACE
          make test
        env:
          GITHUB_API_TOKEN: ${{ github.token }}
